<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= heading%></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-screen w-full flex justify-center items-center bg-[#181818] text-white">

    <h1 class="text-3xl font-normal tracking-wider">🎉Welcome to <%= message%>🎉</h1>

</body>

</html>